DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=08081995choiseungcheoL!
DB_NAME=mydb
PORT=3003
MAILTRAP_TOKEN=888abe1ab98681d8c5d1e7aa6ba6724d
MAILTRAP_ENDPOINT=https://send.api.mailtrap.io
JWT_SECRET=supersecret_local_key
CLIENT_URL=http://localhost:5173
